{
  "extends": ["eslint:recommended", "./index.js"],
  "rules": {
    "unicorn/filename-case": "off"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "generators": false,
      "objectLiteralDuplicateProperties": false
    }
  }
}
