{
  "extends": ["eslint:recommended", "./index.js"],
  "rules": {
    "security/detect-non-literal-fs-filename": "off",
    "unicorn/prevent-abbreviations": "off"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "generators": false,
      "objectLiteralDuplicateProperties": false
    }
  }
}
